/* DESKTOP */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: #E5E5E5;
}

h1{
    font-size: 20px;
    color: #000000;
}

h4{
    color:#B9B9B9;
    font-size: 20px;
}

ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 72%;
    height: 374px;
    margin-left: 14%;
    margin-right: 14%;
}

.topo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 69px;
    background-color: #EC362D;

    color: #ffffff;
    font-size: 37px;
}

.yourQuizz{
    height: 181px;
    margin-top: 76px;
    overflow-y: scroll;
}

.quizzBox{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 72%;
    height: 40px;
    margin-left: 14%;
    margin-right: 14%;
    margin-bottom: 80px;
}

.createQuizz{
    background-color: #ffffff;
    color: #EC362D;
    border: 1px dashed #EC362D;
    border-radius: 50px;

    width: 150px;
    height: 40px;
}

.subtitle{
    display: flex;
    align-items: flex-start;

    position: absolute;

    top: 420px;
    left: 200px;
}

.quizz{
    position: relative;
    width: 310px;
    height: 180px;
    margin-top: 10px;
    margin-right: 10px;
}

.quizzContainer{
    overflow-y: scroll;
}

.quizz img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.quizzTitle{
    position: absolute;
    bottom: 15px;
    color: white;
    font-size: 19px;
    word-break: break-word;
}

.quizzBoxStatus{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 250px;
    height: 108px;
}

.answerQuizz img{
    width: 100%;
    height: 227px;
}

.hidden{
    display: none !important;
}

.perguntas{
    margin: 42px auto 0 auto;
    width: 759px;
    align-items: flex-start;
}

.pergunta,.resultado{
    padding: 28px 36px;
    width: 759px;
    height: 676px;
    background-color: #ffffff;
    margin-bottom: 42px;
}

.questao{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #434CA0;
    color: #ffffff;

    width: 688px;
    height: 138px;
}

.questao.segunda{
    background-color: #A0438D
}
.opcoes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
.opcao img{
    width: 330px;
    height: 176px;

    margin-top: 20px;
    margin-bottom: 40px;
}

.opcao{
    position: relative;
}

.resposta{
    position: absolute;
    bottom:16px;
}

.nao-escolhida{
    opacity: 0.3;
}

.errada{
    color: #FF4B4B;   
}

.certa{
    color: #009C22;
}

.resultado{
    height: 430px;
    margin-bottom: 56px;
}

.resultado img{
    width: 364px;
    height: 273px;
}

.comentario{
    margin-top: 20px;
    width: 300px;
    min-height: 250px;
}

.resultado .questao{
    height: 99px;
    background-color: #EC362D;
}

.buttonSettings{
    display: flex;
    flex-direction: column;
}

.reiniciarQuizz{
    width: 260px;
    height: 52px;
    background-color: #EC362D;
    border-radius: 15px;
    border:none;
    color: #ffffff;
    margin-bottom: 16px;
}

.voltar{
    background-color: #E5E5E5;
    color: #818181;
    height: 44px;
    border: none;
}

.inputs{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 256px;

    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    
    margin: auto;
}

.listaPerguntas{
    display: flex;
    flex-direction: column;
}
