body{
    position: relative;
    width: 99vw;
    height: 100vh;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    background-color: #FAFAFA;
}
article::-webkit-scrollbar{
    display: none;
}
figure{
    margin-top: 10px;
    margin-bottom: 30px;
    margin-right: 10px;
}
header{
    z-index: 3;
    width: 100%;
    height: 3.375rem;
    position: fixed;
    left: 0px;
    top: 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #EC362D;
    display: flex;
    justify-content: center;
    align-items: center;
}
header > h1{
    font-style: normal;
    font-weight: 700;
    font-size: 37px;
    line-height: 43px;
    color: #ffffff;
}
.screen1_listquizz{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 100px;
    width: 80%;
    z-index: 2;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.screen2_pagequizz{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.screen3_pagequizz{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.title_input{
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
}
.mylistquizz_none{
    border: 2px dashed rgba(212, 212, 212, 1);
    border-radius: 12px;
    width: 100%;
    height: 272px;
    position: relative;
}
.mylistquizz{
    width: 100%;
    height: 272px;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: flex-end;
    border-radius: 12px;
}
.mylistquizz_title{
    margin-left: 10px;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    align-items: center;
    text-align: center;
}
.mylistquizz_title > h2{
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
    margin-top: 10px;
}
.mylistquizz_title > ion-icon{
    margin-left: 20px;
    margin-top: 8px;
    width: 22px;
    height: 22px;
    background: #EC362D;
    border-radius: 500px;
    margin-right: 20px;
}
.mylistquizz_none > p{
    color: rgba(185, 185, 185, 1);
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    text-align: center;
    margin-bottom: 70px;
}
.mylistquizz_none > button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
    background-color: #ffffff;
    color: #EC362D;
    border: 1px dashed #EC362D;
    border-radius: 50px;
    width: 150px;
    height: 40px;
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    display: flex;
    align-items: center;
    text-align: center;
}
.myquizz{
    position: relative;
    margin-top: 50px;
    margin-left: 15px;
    width: 280px;
    height: 190px;
    display: flex;
}
.myquizz > img {
    object-fit: cover;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 65.1%, #000000 100%);
    border-radius: 5px;
    width: 280px;
    height: 190px;
}
.myquizz > figcaption {
    position: absolute;
    left: 12px;
    bottom: 14px;
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}
.listquizz{
    margin-left: -10px;
    margin-top: 50px;
    position: relative;
    left: 0px;
    top: 0px;
    border-radius: 12px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.tumb_quizz{
    position: relative;
    margin-top: 50px;
    margin-left: 15px;
    width: 280px;
    height: 190px;
    display: flex;
}
.tumb_quizz > img{
    object-fit: cover;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 65.1%, #000000 100%);
    border-radius: 5px;
    width: 280px;
    height: 190px;
}
.tumb_quizz > figcaption{
    position: absolute;
    left: 12px;
    bottom: 14px;
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.hidden{
    display: none !important;
}

.content.selecionado .testando{
    display: none !important;
}

.content.selecionado .testando2{
    display: table !important;
}

.content .testando2{
    display: none !important;
}